{% extends 'base.html.twig' %}

{% block title %}Liste des élèves{% endblock %}

{% block body %}
<a href="{{ path('app_eleves_new') }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 ml-auto mb-2 ml-auto block w-fit">Ajouter un élève</a>

<div class="overflow-hidden rounded-lg border border-gray-200 shadow-md my-5">
  <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Id</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Nom</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Prénom</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Date de naissance</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Classe</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900"></th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-100 border-t border-gray-100">
      {% for eleve in eleves %}
      <tr class="hover:bg-gray-50">
        <td class="px-6 py-4">{{ eleve.id }}</td>
        <td class="px-6 py-4">{{ eleve.nom }}</td>
        <td class="px-6 py-4">{{ eleve.prenom }}</td>
        <td class="px-6 py-4">{{ eleve.dateNaissance ? eleve.dateNaissance|date('d/m/Y') : '' }}</td>
        <td class="px-6 py-4">{{ eleve.classe.nom }}</td>
        <td class="px-6 py-4">
          <div class="flex justify-end gap-4">
            <a href="{{ path('app_eleves_edit', {'id': eleve.id}) }}">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                />
              </svg>
            </a>
            {{ include('eleves/_delete_form.html.twig') }}
            
          </div>
        </td>
      </tr>
      {% else %}
        <tr>
          <td colspan="3">Aucun élève</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
